# Configuración general
APP_ENV=development

# Interruptor de apagado/mantenimiento (false = activo, true = bloqueado)
KILL_SWITCH=false

# Configuración de Base de Datos
DB_HOST=
DB_NAME=
DB_USER=
DB_PASSWORD=